@import "../../../sass/variables";
@import "../../../sass/mixins";

$buttonSize: 30px;
$fontSize: 20px;

#buttons-container {
  box-sizing: border-box;
  padding: $spaceNormal;
  font-family: Arial, sans-serif;
  border-radius: 50%;
  background-color: $shadow;
  height: $buttonSize * 4;
  width: $buttonSize * 4;

  #buttons-container-inner {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .button-component {
    height: $buttonSize;
    width: $buttonSize;
    position: absolute;

    &.red {
      background-color: $red;
      top: calc(50% - #{$buttonSize}/2);
      right: 0;
    }
    &.green {
      background-color: $green;
      top: calc(50% - #{$buttonSize}/2);
      left: 0;
    }
    &.blue {
      background-color: $blue;
      top: 0;
      left: calc(50% - #{$buttonSize}/2);
    }
    &.orange {
      background-color: $orange;
      bottom: 0;
      left: calc(50% - #{$buttonSize}/2);
    }
  }

  .joystick-component {

  }
}