{% extends "layouts/default.twig" %}

{% block content %}
    <div id="controller-app"></div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ site.static_dir }}js/controller-js/index.js"></script>
    <script type="text/javascript">
        (function() {
            window.ControllerJS.InitBasicControllerApp('controller-app', '{{ connectCode|raw }}');
        })();
    </script>
    <script type="text/javascript" src="{{ site.static_dir }}js/play.js"></script>
{% endblock %}